.map {
  margin-right: 20px;
  margin-left: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .map iframe {
    width: 70%;
    height: 400px;
    border: 0;
  }
  