.footer-bottom-holder {
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000;
    text-align: center;
    height: 50px;
    color: #989898;
    font-size: 13px;
}

.footer-bottom-holder p {
    margin: 0; 
    padding: 0 105px;
}

/**********************************************************************************/


.edgtf-footer-top-holder .edgtf-four-columns>.edgtf-four-columns-inner,
.edgtf-footer-top-holder .edgtf-three-columns>.edgtf-three-columns-inner,
.edgtf-footer-top-holder .edgtf-two-columns-50-50>.edgtf-two-columns-50-50-inner {
    margin: 0 -50px
}

.edgtf-footer-top-holder .edgtf-four-columns .edgtf-column .edgtf-column-inner,
.edgtf-footer-top-holder .edgtf-three-columns .edgtf-column .edgtf-column-inner,
.edgtf-footer-top-holder .edgtf-two-columns-50-50 .edgtf-column .edgtf-column-inner {
    padding: 0 50px
}

.edgtf-footer-top-holder .edgtf-column:first-child .edgtf-column-inner {
    border-left: none
}

.edgtf-footer-top-holder .edgtf-column-inner {
    border-left: 1px solid #25262e
}

footer .edgtf-footer-top-holder {
    display: block;
    background-color: #19171b;
    position: relative;
    background-position: center center;
    background-size: cover;
    color: #969696
}

footer .edgtf-footer-top-holder a {
    color: #969696
}

footer .edgtf-footer-top-holder a:hover {
    color: #fff
}

footer .edgtf-footer-top-holder .edgtf-zig-zag-separator-holder {
    margin-bottom: 18px
}

footer .edgtf-footer-top-holder ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px
}

footer .edgtf-footer-top-holder ul li:before {
    content: ' ';
    width: 6px;
    height: 6px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -3px;
    background-color: #444
}

footer .edgtf-footer-top-holder .edgtf-icon-list-item .edgtf-icon-list-icon-holder {
    vertical-align: top;
    top: 6px;
    position: relative
}

.edgtf-footer-top-holder .edgtf-four-columns>.edgtf-four-columns-inner,
.edgtf-footer-top-holder .edgtf-three-columns>.edgtf-three-columns-inner,
.edgtf-footer-top-holder .edgtf-two-columns-50-50>.edgtf-two-columns-50-50-inner {
    margin: 0 -50px
}

.edgtf-footer-top-holder .edgtf-four-columns .edgtf-column .edgtf-column-inner,
.edgtf-footer-top-holder .edgtf-three-columns .edgtf-column .edgtf-column-inner,
.edgtf-footer-top-holder .edgtf-two-columns-50-50 .edgtf-column .edgtf-column-inner {
    padding: 0 50px
}

.edgtf-footer-top-holder .edgtf-column:first-child .edgtf-column-inner {
    border-left: none
}

.edgtf-footer-top-holder .edgtf-column-inner {
    border-left: 1px solid #25262e
}


.edgtf-three-columns>.edgtf-three-columns-inner {
    margin: 0 -15px
}


.edgtf-two-columns-50-50 .edgtf-column {
    width: 50%;
    float: left
}


.edgtf-three-columns .edgtf-column {
    width: 33.33%;
    float: left
}


.edgtf-four-columns .edgtf-column {
    width: 25%;
    float: left
}

.edgtf-five-columns .edgtf-column {
    width: 20%;
    float: left
}

.edgtf-five-columns .edgtf-column .edgtf-column-inner,
.edgtf-four-columns .edgtf-column .edgtf-column-inner,
.edgtf-three-columns .edgtf-column .edgtf-column-inner,
.edgtf-two-columns-50-50 .edgtf-column .edgtf-column-inner {
    padding: 0 15px
}

.edgtf-two-columns-25-75 .edgtf-column2 .edgtf-column-inner {
    padding: 0 0 0 20px
}


.edgtf-two-columns-75-25 .edgtf-column2 .edgtf-column-inner {
    padding: 0 0 0 20px
}

.edgtf-two-columns-25-75 .edgtf-column1 .edgtf-column-inner {
    padding: 0 20px 0 0
}


.edgtf-two-columns-75-25 .edgtf-column1 .edgtf-column-inner {
    padding: 0 20px 0 0
}

.edgtf-two-columns-66-33 .edgtf-column1 .edgtf-column-inner {
    padding: 0 20px 0 0
}

.edgtf-two-columns-66-33 .edgtf-column2 .edgtf-column-inner {
    padding: 0 0 0 20px
}


.edgtf-two-columns-33-66 .edgtf-column1 .edgtf-column-inner {
    padding: 0 20px 0 0
}

.edgtf-two-columns-33-66 .edgtf-column2 .edgtf-column-inner {
    padding: 0 0 0 20px
}


.edgtf-two-columns-form .edgtf-column-inner {
    vertical-align: middle;
    display: table-cell
}

.edgtf-two-columns-form .edgtf-column-inner:last-child {
    width: 1%;
    text-align: left;
    padding-left: 9px
}

.edgtf-two-columns-form .edgtf-column-inner:first-child {
    padding-right: 9px
}

body.woocommerce.woocommerce-page .edgtf-two-columns-66-33.woocommerce_with_sidebar .edgtf-column1 .edgtf-column-inner,
body.woocommerce.woocommerce-page .edgtf-two-columns-75-25.woocommerce_with_sidebar .edgtf-column1 .edgtf-column-inner {
    padding-left: 40px
}

body.woocommerce.woocommerce-page .edgtf-two-columns-25-75.woocommerce_with_sidebar .edgtf-column2 .edgtf-column-inner,
body.woocommerce.woocommerce-page .edgtf-two-columns-33-66.woocommerce_with_sidebar .edgtf-column2 .edgtf-column-inner {
    padding-right: 40px
}

body.woocommerce.woocommerce-page .full_width .edgtf-two-columns-66-33.woocommerce_with_sidebar .edgtf-column1 .edgtf-column-inner,
body.woocommerce.woocommerce-page .full_width .edgtf-two-columns-75-25.woocommerce_with_sidebar .edgtf-column1 .edgtf-column-inner {
    padding-left: 0
}

body.woocommerce.woocommerce-page .full_width .edgtf-two-columns-25-75.woocommerce_with_sidebar .edgtf-column2 .edgtf-column-inner,
body.woocommerce.woocommerce-page .full_width .edgtf-two-columns-33-66.woocommerce_with_sidebar .edgtf-column2 .edgtf-column-inner {
    padding-right: 0
}

.edgtf-sidebar .widget.widget_tag_cloud>h6:before,
.edgtf-sidebar .widget.widget_text>h6:before {
    content: "\e01c"
}



.edgtf-sidebar .widget.widget_recent_entries>h6:before {
    content: "\e01c"
}

footer .widget .edgtf-footer-widget-title {
    color: #fff;
    margin-bottom: 18px
}

footer {
    display: block;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

footer .edgtf-footer-inner {
    position: relative
}

footer .edgtf-container {
    background-color: inherit
}

footer .edgtf-container-inner {
    position: relative
}

footer .edgtf-container-inner>.widget {
    text-align: center
}

footer a {
    text-decoration: none
}

footer .edgtf-footer-ingrid-border-holder-outer {
    background-color: #393939
}

footer .edgtf-footer-bottom-border-holder,
footer .edgtf-footer-top-border-holder {
    position: relative;
    display: block;
    width: 100%
}

footer .edgtf-footer-bottom-border-holder.edgtf-in-grid,
footer .edgtf-footer-top-border-holder.edgtf-in-grid {
    width: 1100px;
    margin: 0 auto
}


footer .edgtf-footer-top:not(.edgtf-footer-top-full) .edgtf-container-inner {
    padding: 95px 0 70px
}

footer .edgtf-footer-top.edgtf-footer-top-full {
    padding: 95px 105px 70px
}


footer.edgtf-footer-uncover {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    -webkit-transition: left .33s cubic-bezier(.694, .0482, .335, 1);
    transition: left .33s cubic-bezier(.694, .0482, .335, 1)
}

footer .widget {
    margin-bottom: 20px
}

footer .widget:last-child {
    margin-bottom: 0
}

footer .widget ul {
    list-style: none
}

footer .widget input[type=text],
footer .widget select {
    width: 100%;
    overflow: hidden;
    border: 1px solid #e9e9e9;
    background-color: #f6f6f5;
    padding: 0 10px;
    height: 35px;
    outline: 0;
    color: #7f8385;
    font-family: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

